body {
  margin: 0;
  padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-image: url(../img/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-page {
	background-image: none;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
	font: inherit;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.button:hover {
	background-color: #604e43;
}

.button:active,
.button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.button-small {
	font-size: 14px;
	line-height: 21px;
}

.button-blue {
	background-color: #81b3d2;
}

.button-blue:hover {
	background-color: #669ec0;
}

.button-blue:active,
.button-blue:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.button-invisible {
	border: 2px solid #ffffff;
	background-color: transparent;
}

.button-invisible:hover,
.button-invisible:active,
.button-invisible:focus {
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.main-nav {
	line-height: 26px;
	color: #000000;
}

.site-nav {
	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;
	background-color: #ffffff;
}

.site-nav .container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

.site-nav-wrap {
	display: flex;
}

.site-nav-wrap:last-child {
	margin-left: auto;
}

.site-nav-wrap li:first-child {
	margin-right: 150px;
}

.site-nav a {
	color: #000000;
}

.site-nav a:hover {
	color: #81b3d2;
}

.site-nav a:active {
	opacity: 0.3;
}

.site-nav a:focus {
	color: #766357;
}

.header-logo {
	/*position: absolute ?;*/ 
	width: 135px;
	height: 70px;
}

.description {
	padding-bottom: 54px;

	text-align: center;
}

.description h2 {
	margin: 0 auto;
	margin-bottom: 36px;
	width: 440px;

	font-size: 21px;
	line-height: 26px;
}

.description p {
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: #333333;
}

.features {
	display: flex;
	padding-bottom: 60px;
	padding-top: 47px;
	text-align: center;

	background-color: #81b3d2;
}

.feature-title {
	width: 33%;
}

.feature-title h2 {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 23px;

	font-size: 21px;
	color: #ffffff;
}

.feature-title p {
	width: 310px;
	margin: 0 auto;
	padding: 0;
	font-weight: 400;

	color: #ffffff;
}

.feature-title p:first-of-type {
	margin-bottom: 23px;
}

.recommend {
	padding-bottom: 83px;
	text-align: center;

	background-color: #ffffff;
}

.recommend-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-top: 60px;

	list-style: none;
}

.recommend-item h3 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 23px;
	padding: 0;

	font-size: 21px;
}

.recommend-item p {
	margin: 0;
	padding: 0;
	width: 300px;

	font-weight: 400;
	color: #333333;
}

.second-feature .feature-title {
	order: 1;
}

.other-features {
	padding-top: 47px;
	padding-bottom: 60px;

	background-color: #eeeeee;
}

.feature-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-list li {
	text-align: center;
}

.feature-list h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	font-size: 21px;
}

.feature-list p {
	width: 270px;
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: #333333;
}

.feature-list p:first-of-type {
	padding-bottom: 22px;
}

.search-hotels {
	text-align: center;

	background-color: #ffffff;
}

.search-hotels h2 {
	margin: 0;
	padding: 0;
	padding-top: 52px;
	padding-bottom: 30px;

	font-size: 30px;
	line-height: 36px;
}

.search-hotels p {
	width: 445px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 47px;

	line-height: 24px;
	font-weight: 400;
}

.search-tours-form label {
	line-height: 26px;
}

.search-tours-form input {
	font: inherit;

	background-color: #f2f2f2;
	border: none;
}

.search-tours-form input:hover {
	background-color: #ebebeb;
	border: none;
}

.search-tours-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.filters {
	color: #ffffff;

	background-color: #81b3d2;
	background-image: url("../img/bg-cat.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.filters .container {
	display: flex;
	margin:0 72px;
}

.filters fieldset {
	border: none;
}

.filters fieldset:first-child,
.filters fieldset:nth-child(2) {
	width: 240px;
}

.filters fieldset:last-child {
	width: 330px;
	margin-left: auto;
}

.filters legend {
	font-size: 16px;
}

.filters ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filters input {
	font: inherit;
	font-weight: 400;
	text-align: center;
}

.sort {
	border-bottom: 2px solid #e5e5e5;
}

.sort .container {
	display: flex;
	margin: 0 72px;
}

.sort p {
	width: 130px;
	margin: 0;
	margin-right: 33px;
	padding: 0;

	font-size: 21px;
	line-weight: 26px;
}

.sort-list {
	display: flex;

	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	list-style: none;
}

.sort-list a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-current a {
	color: #81b3d2;
	border: none;
}

.sort-updown {
	width: 50px;
	margin-left: auto;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border-bottom: 2px solid #e5e5e5;
}

.catalog-item .container {
	display: flex;
	margin: 0 72px;
}

.catalog-item-wrap:first-child {
	margin-right: 30px;
}

.catalog-item-wrap:last-child {
	margin-left: auto;
}

.catalog-item h3 {
	margin: 0;

	font-size: 21px;
	line-height: 26px;
}

.catalog-item h3>a {
	color: #000000;
}

.catalog-item-info {
	margin: 0;
	padding: 0;

	font-weight: 400;
}

.catalog-item-stars {
	margin: 0;
	padding: 0;

	color: #81b3d2;
}

.catalog-item-rate {
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: #666666;

	background-color: #f2f2f2;
}

.main-footer .container {
	display: flex;
	justify-content: space-around;
}

.main-footer a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.footer-social ul {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-social li {
	margin-right: 6px;
}

.footer-social a {
	background-color: #81b3d2;
}

.footer-social a:hover {
	background-color: #669ec0;
}

.footer-social a:active,
.footer-social a:focus {
	background-color: #5496bd;
}

.footer-social a:active img,
.footer-social a:focus img {
	opacity: 0.3;
}

.footer-copyright {
	margin: 0;
	line-height: 26px;
	font-weight: 400;
}




